/* ---------------------- FOR SMALL-SIZED SCREENS ---------------------------- */

/* -------- Declaring Variables Start --------- */
:root {
  /* ------- COLORS -------- */
  --dark-color: #7a0a0a;
  --light-color: #fbeada;
  --white: rgb(255, 253, 255);
  --black: rgb(0, 0, 0);
  /* ------- HEIGHT -------- */
  --height-80: 80vh;
  --height-full-container: 100%;
  --height-half-container: 50%;
  /* ------- WIDTH -------- */
  --width-30: 30vw;
  --width-60: 60vw;
  --width-full-container: 100%;
  --width-quarter-container: 70%;
  --width-half-container: 50%;
  /* ------- MARGIN -------- */
  --margin-auto: auto;
  --margin-negative: -0.5vw;
  --margin-1: 1vw;
  --margin-2: 2vw;
  --margin-3: 3vw;
  --margin-4: 4vw;
  --margin-5: 5vw;
  --margin-6: 6vw;
  --margin-input: 0.3vw 0 1.3vw 0;
  /* ------- PADDING -------- */
  --padding-1: 1vw;
  --padding-2: 2vw;
  --padding-3: 3vw;
  --padding-4: 4vw;
  --padding-5: 5vw;
  --padding-6: 6vw;
  --padding-input: 0.6vw 1vw;
  --padding-btn: 0.8vw;
  /* ------- FONT-SIZE -------- */
  --large-font-size: 1.5vw;
  --medium-font-size: 1.3vw;
  --small-font-size: 0.9vw;
  --very-small-font-size: 0.7vw;
  /* ------- FONT-WEIGHT -------- */
  --bold-font-weight: bold;
  --bolder-font-weight: bolder;
  /* ------- LETTER-SPACING -------- */
  --letter-spacing-more: 3px;
  --letter-spacing-less: 1.3px;
  /* ------- BORDER-RADIUS -------- */
  --border-radius: 0.3vw;
  --circle-container: 50%;
  /* ------- TRANSITION -------- */
  --transition-duration: 0.3s;
  /* ------- BOX-SHADOW -------- */
  --box-shadow: 4px 4px 10px 0 var(--dark-color);
}
/* -------- Declaring Variables End --------- */

/* -------- Navbar ------- */
@media screen and (max-width: 1290px) {
  header {
    padding: 0.5rem 0 0.5rem 0;
  }
  .nav-links a {
    margin: 0 2rem 0 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .nav-links a {
    margin: 0 1.2rem 0 0.5rem;
  }
}
@media screen and (max-width: 9650px) {
  .logo-img {
    width: 7rem;
  }
}
@media screen and (max-width: 900px) {
  header {
    padding: 1rem 1%;
  }
  .logo-img {
    margin-top: 0.2rem;
    margin-right: 1rem;
    padding-left: 0;
  }
  .hamburger-container svg {
    width: 3rem;
    font-size: 2.5rem;
  }
  .hamburger-container {
    display: flex;
    padding: 1rem;
  }
  .nav-links {
    display: none;
  }
  .navbar-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
  }
  .resp-nav-links {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .resp-nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    color: var(--black);
    font-weight: 500;
    transition: 0.5s;
    animation: slideTop 0.5s ease forwards;
  }
  .resp-nav-links a:hover {
    color: var(--dark-red);
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* -------- Welcome Section ------- */
@media screen and (max-width: 1024px) {
  .welcome-section-main-container {
  padding: 0 5%;
  }
  .welcome-content h1{
    font-size: 2.5rem;
  }
  .welcome-content span {
    font-size: 3.1rem;
  }
  .welcome-para1 {
    font-size: 1.2rem;
  }
  .welcome-section-register-btn, .welcome-section-login-btn{
    padding: 3% 5%;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  .welcome-content{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .welcome-content h1{
    font-size: 2.7rem;
  }
  .welcome-content span {
    font-size: 3.5rem;
  }
  .welcome-para1 {
    font-size: 1.5rem;
  }
  .welcome-section-btns{
    justify-content: center;
    width: 100%;
  }
  .welcome-section-register-btn, .welcome-section-login-btn{
    padding: 2% 5%;
    font-size: 1.4rem;
  }
  .welcome-img{
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .welcome-content h1{
    font-size: 2.5rem;
  }
  .welcome-content span {
    font-size: 3rem;
  }
  .welcome-para1 {
    font-size: 1.2rem;
  }
  .welcome-section-btns {
    flex-direction: column;
  }
  .welcome-section-register-btn, .welcome-section-login-btn{
    font-size: 1.2rem;
    padding: 3% 6%;
    margin: 0 0 3% 0;
  }
}

/*------------Footer---------------*/
@media screen and (max-width: 800px) {
  footer {
    bottom: unset;
  }
  .foot {
    flex-basis: 100%;
  }
  .foot:nth-child(3) {
    flex-basis: 100%;
  }
}
